*{
  border: 0;
  top: 0;
  margin: 0;
}

#main{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#box {
  background-color: white;
  position: relative;
  height: auto;
  min-height: 250px;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

#text{
  position: relative;
  top: 30px;
  font-size: 22px;
}

#author{
  position: relative;
  top: 60px;
  text-align: right;
}

#new-quote{
  position: absolute;
  top: 75%;
  right: 5%;
}


#tweet-quote{
  position: absolute;
  top: 75%;
}

#image{
  position: relative;
  top: -15px;
  height: 65px;
  width: 65px;
  border-radius: 100%
   
}

